.nav-bar {
  background-color: grey;
  background-image: linear-gradient(black, white);
  display: flex;
  border: none;
  border-radius: 6px;
  color: #fff;
  height: 38px;
  justify-content: space-between;
  margin: 83px 30px 0 30px;
}

.apple-icon {
  align-items: center;
  border-right: 1px solid grey;
  display: flex;
  justify-content: center;
  padding: 0 84px 0 84px;
}

.nav-bar .store {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid grey;
  padding: 0 44px 0 44px;
}

.nav-bar .mac {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid grey;
  padding: 0 44px 0 44px;
}

.nav-bar .ipod {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid grey;
  padding: 0 44px 0 44px;
}

.nav-bar .iphone {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid grey;
  padding: 0 44px 0 44px;
}

.nav-bar .ipad {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid grey;
  padding: 0 44px 0 44px;
}

.nav-bar .itunes {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid grey;
  padding: 0 44px 0 44px;
}

.nav-bar .support {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid grey;
  padding: 0 44px 0 44px;
}

.search {
  display: flex;
  align-items: center;
  padding: 0 44px 0 44px;
  width: 128px;
}

.search i {
  border: 1px solid grey;
  border-radius: 24px;
  width: 162px;
  height: 24px;
  padding-left: 10px;
  padding-top: 5px;
  margin-top: 4px;
  margin-bottom: 6px;
}

main {
  color: white;
  text-align: center;
  padding-top: 40px;
  height: 545px;
}

body {
  background-image: url("images/main-apple.jpg");
  background-repeat: no-repeat;
  background-position: 0 -775px;
  margin: 0 auto;
}

.up .texto-b {
  background-image: url("images/texto-bottom.png");
  background-position-x: 200px;
  background-repeat: no-repeat;
  background-size: auto;
  height: 32px;
}

.down {
  display: flex;
  justify-content: center;
  padding-top: 96px;
}

.down img {
  height: 260px;
  width: 337px;
}

footer {
  padding: 55px 30px 15px 30px;
}

footer .bottom-up {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
}

.bottom-up-left {
  color: gray;
}

.bottom-up-left span {
  color: blue;
}

.bottom-up-right {
  display: flex;
  justify-content: space-between;
  color: blue;
}

.bottom-up-right p {
  border-right: 2px solid lightgray;
  padding-right: 6px;
  padding-left: 6px;
}

.bottom-up-right img {
  width: 18px;
  height: 18px;
  padding-left: 10px;
  padding-top: 7px;
}

.bottom-down {
  font-size: 11px;
  color: gray;
}

.bottom-down span {
  color: blue;
  padding-left: 5px;
  padding-right: 5px;
}

.privacy {
  border-left: 2px solid lightgray;
}

